<br>
<p>
  Copyright &copy 2020; <a href="https://github.com/EGORIDI/recadin">THE RECADIN PROJECT</a>
  by <a href="https://github.com/EGORIDI">EGORIDI</a>
  <br>
  <%= render 'layouts/slogan' %>
</p>
